<%- include("header") -%>

<h2>This the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptatum incidunt, veniam vero voluptatibus voluptatem culpa dolore error deleniti rerum.</p>

<%- include("footer") -%>